/*頁首特效*/
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.main-header {
  width: 100%;
  background-color: rgb(136, 182, 212);
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 0;
}

.main-menu li {
  list-style: none;
  position: relative;
  transition: .5s;
}

.main-menu li a {
  padding: 0 15px;
  line-height: 60px;
  display: block;
}

.main-menu>li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}
.main-header h1 {
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 0 15px; 
  transition: background-color 0.5s;
}

.main-header h1::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

.main-header h1:hover::after {
  left: 0;
  right: 0;
}


.main-menu li:hover {
  background-color: rgb(110, 156, 186);
}

.main-header h1 {
  display: inline-block;
  padding: 10px 15px;
  transition: background-color .5s;
}

.main-header h1:hover {
  background-color: rgb(110, 156, 186);
}

.main-menu>li:hover::after {
  left: 0;
  right: 0;
}

.main-menu li:hover .sub-menu {
  display: flex;
}
/*以下為頁尾特效*/
.main-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(132, 178, 208);
  padding: 20px;
}
.main-footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
}

.item {
  width: 270px;
  margin: 0 15px;
}

.item h3 {
  color: #fff;
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px dotted #fff;
}

.item li {
  margin-bottom: 15px;
}

.item h3 a {
  color: #fff;
  text-decoration: none;
}

.item h3 a:hover {
  color: #fed766;
}
.copyright {
  background-color: #10324c;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}