a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.main-header {
  width: 100%;
  background-color: rgb(136, 182, 212);
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 0;
}

.main-menu li {
  list-style: none;
  position: relative;
  transition: .5s;
}

.main-menu li a {
  padding: 0 15px;
  line-height: 60px;
  display: block;
}

.main-menu>li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

/* .main-header>h1::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
} */

.main-menu li:hover {
  background-color: rgb(110, 156, 186);
}

/* .main-header h1:hover {
  background-color: rgb(110, 156, 186);
} */

.main-menu>li:hover::after {
  left: 0;
  right: 0;
}

/* .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(232, 48, 21, 0.8);
  width: max-content;
  text-align: left;
  display: none;
  flex-direction: column;
} */

.main-menu li:hover .sub-menu {
  display: flex;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(132, 178, 208);
  padding: 20px;
}
.main-footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
}

.item {
  width: 270px;
  margin: 0 15px;
}

.item h3 {
  color: #fff;
  padding-bottom: .5em;
  margin-bottom: .5em;
  display: flex;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-content: center; 
  /* border-bottom: 1px dotted #fff; */
}

.item li {
  margin-bottom: 15px;
}

.item h3 a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  display: flex;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-content: center; 
}

.item h3 a:hover {
  color: #fed766;
}

/* .subs form {
  display: flex;
  width: 100%;
  margin: auto 0px;
}

.subs input[type="email"],
.subs button {
  border: none;
  padding: 5px 10px;
}

.subs input[type="email"]:focus,
.subs button:focus {
  outline: none;
}

.subs input[type="email"]:focus::placeholder {
  color: transparent;
}

.subs input[type="email"] {
  width: 0;
  flex-grow: 1;
  color: #f56476;
}

.subs button {
  color: #fff;
  background-color: #0a090c;
  cursor: pointer;
} */

.copyright {
  background-color: #10324c;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}